@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 20px 0 0 0;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.questionBlock{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.buttons{
    display: flex;
    column-gap: 30px;
}

.btn{
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    padding: 5px;
}